@import 'variables.less';
@import 'mixins.less';

.backgroundTable,
body {
	background: @BodyBackground;	
}
.backgroundTable {
	min-width: 540px;
}
.wrap {
	width: @wrapWidth;
}
.preheader {
	background: @PreBackground;
	width: 100%;
	
	.pre-message {
		padding: 8px;
		font-size: 10px;
		line-height: 10px;
		color: @bodyCopy;
		font-family: @fontBody;
		text-align: center;		

		a {			
			color: @linkColor;
			font-family: @fontBody;
			text-decoration: none;
		}
	}

}

.full-header {
	background: @HeaderBG;
	box-shadow: @HeaderShadow;
	border-top: 1px solid @HeaderBorder; 
	border-bottom: 1px solid @HeaderBorder; 
}
.header-wrap {
	padding: @HeaderPadding 0;
}
.header {
	width: 100%;
	img {
		color: #FFFFFF;
	}	

	.logo {
		width: 70%;
		
	}
	.account {
		width: 30%;
		text-align: right;
	}
}



.footer {

	.p {
		line-height: 16px;
		padding: 10px 0;
		text-align: center;
		font-family: @fontBody;
		font-size: 11px; 
		color: lighten(@bodyCopy, 5%);
		text-shadow: 1px 1px #FFF;
		a {
			font-weight: bold;
			color: lighten(@bodyCopy, 5%);
		}
	}
	.p.first{
		padding-bottom: 0;
		padding-top: 15px;
	}

	a { 
		color: lighten(@bodyCopy, 5%); 
		text-decoration: none;
	}

	.divider {
		hr {
			border: 0;
			border-top: 1px solid #C4C4C4;
			border-bottom: 1px solid #FFF;
			height: 0;
			line-height: 1px;
			margin: 0;
		}
	}

	&.prose {
		.h5 {
			color: @bodyHeader;
			font-size: 15px;
			text-align: center;
		}
		.p {
			font-size: 12px;
			line-height: 17px;
			text-align: center;
		}
	}
}
.after-footer {
	background: #FFFFFF;
	text-align: center;
	line-height: 14px;
	font-family: @fontBody;
	font-size: 10px;	
	padding: 5px;
	color: lighten(@bodyCopy, 5%);
	a {
		color: @linkColor;
		font-weight: bold;
		text-decoration: none;
	}			
	a.reset {
		color: lighten(@bodyCopy, 5%);
		font-weight: normal;
	}
}

.social {
	td {
		padding: 0 0 0 5px;
	}
}

.block-divider {
	line-height: 20px;
	height: 20px;
	font-size: 20px;
}


.block-border  {
	border: 1px solid #E7E7E7;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
	> table {
		width: 100%;
	}
}