{% layout "newsletter-layout" %}

{% block preheader %}
Hi {~firstName~}, welcome to the RateMyPlacement student newsletter!!
{% endblock %}

{% block hero %}
<table class="hero" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<a href="#">
				<img src="http://placehold.it/540x200/eeeeee" alt="" class="img-fix">
			</a>
		</td>
	</tr>
</table>
{% endblock %}

{% block prose %}
<table class="prose" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="h3 first">
			Welcome to our first student newsletter!
		</td>
	</tr>
	<tr>
		<td class="p">
			So here at RMP Towers we were thinking...you know what, we don't do enough for the students that use our website! So we decided to create a fortnightly newsletter to give you a little bit of everything, from tips and advice on applications to the latest cat video on the internet (and a few competitions thrown inbetween!).
		</td>
	</tr>
	<tr>
		<td class="p">
			In this weeks newsletter we have got Cat (Our resident agony aunt) giving you her top tips for applications and our Guest blogger Hayley giving you advice on how to stand out from the crowd and nail that interview! We also have competitions which involve <strong>Nandos</strong>, <strong>ASOS</strong>, <strong>holidays</strong> and all sorts of other great stuff <strong>(MONEY! LOADS AND LOADS OF MONEY!)</strong> 
		</td>
	</tr>
	<tr>
		<td class="p">
			Enjoy!
		</td>
	</tr>
	<tr>
		<td class="hr-top">
			&nbsp;
		</td>
	</tr>
	<tr>
		<td class="hr-bottom">
			&nbsp;
		</td>
	</tr>
</table>
{% endblock %}

{% block main-article %}
<table class="prose" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="h3 first" style="text-align:center;">
			Fancy a holiday? cash? clothes?
		</td>
	</tr>
	<tr>
		<td class="img">
			<img src="http://placehold.it/478x177">
		</td>
	</tr>
	<tr>
		<td class="p">                      
			<a href="http://www.studenthut.com/">Student Hut</a> are running a massive competition where you could win a <strong>£400 STA Travel voucher, a £200 ASOS voucher, an iPad Mini, £200 in cash plus more!!</strong> To enter the prize draw, all you have to do is complete a quick 2 minute <a href="http://bit.ly/1eQJdqT">university survey &#9658;</a>
		</td>
	</tr>
	<tr>
		<td class="hr-top">
			&nbsp;
		</td>
	</tr>
	<tr>
		<td class="hr-bottom">
			&nbsp;
		</td>
	</tr>
</table>
{% endblock %}

{% block top-tips %}
<table class="prose" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="h3 first">
			Top tips and advice
		</td>
	</tr>
	<tr>
		<td class="p">                      
			Struggling with that application you've been working on for the past few days? Don't even know where to start? Have no fear, we are here to help!
		</td>
	</tr>
	<tr>
		<td class="media-object">
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td class="object" width="60">
						<a href="http://articles.ratemyplacement.co.uk/2014/01/24/dear-cat-what-are-your-application-top-tips/"><img src="http://placehold.it/60x60"></a>
					</td>
					<td class="copy">
						<table class="prose">
							<tr>
								<td class="h5 first">
									<a href="http://articles.ratemyplacement.co.uk/2014/01/24/dear-cat-what-are-your-application-top-tips/">Application Top Tips</a>
								</td>
							</tr>
							<tr>
								<td class="p">
									Is deadline for your dream job looming? Never fear! Our resident Agony Aunt Cat has produced her top 10 tips for filling out application forms. Now, sit back, relax and watch the job offers come flooding in! 
									<br><a href="http://articles.ratemyplacement.co.uk/2014/01/24/dear-cat-what-are-your-application-top-tips/">Read more &rarr;</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="media-object">
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td class="object" width="60">
						<a href="http://articles.ratemyplacement.co.uk/2013/11/27/tools-tips-and-skills-you-can-control-part-1/"><img src="http://placehold.it/60x60"></a>
					</td>
					<td class="copy">
						<table class="prose">
							<tr>
								<td class="h5 first">
									<a href="http://articles.ratemyplacement.co.uk/2013/11/27/tools-tips-and-skills-you-can-control-part-1/">Tools, tips and skills you can control </a>
								</td>
							</tr>
							<tr>
								<td class="p">
									Do you want to stand out from the rest of the crowd when applying to get into the workforce?
									<br><a href="http://articles.ratemyplacement.co.uk/2013/11/27/tools-tips-and-skills-you-can-control-part-1/">Read more &rarr;</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
{% endblock %}
{% block procrastination %}
<table class="prose" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="h3 first">
			Procrastination central
		</td>
	</tr>
	<tr>
		<td class="p">                      
			Need something to help keep you away from those textbooks and past exam papers? Check out some of our favourite things from the web.
		</td>
	</tr>
	<tr>
		<td class="media-object">
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td class="object" width="60">
						<a href="http://www.buzzfeed.com/emilys49/everyone-at-the-grammys-looked-like-your-childhood-toys"><img src="http://placehold.it/60x60"></a>
					</td>
					<td class="copy">
						<table class="prose">
							<tr>
								<td class="h5 first">
									<a href="http://www.buzzfeed.com/emilys49/everyone-at-the-grammys-looked-like-your-childhood-toys">Celebrities that looked like childhood toys at the grammy's</a>
								</td>
							</tr>
							<tr>
								<td class="p">
									We aren't sure how many of you would have picked up on the similarities, Amber Rose is our personal favourite, what about yours?
									<br><a href="http://www.buzzfeed.com/emilys49/everyone-at-the-grammys-looked-like-your-childhood-toys">Read more &rarr;</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
{% endblock %}
{% block win-stuff %}
<table class="prose" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="h3 first">
			WIN STUFF
		</td>
	</tr>
	<tr>
		<td class="p">                      
			Who doesn't like winning? This week there are Nandos vouchers galore and BDO have Amazon vouchers and cash prizes up for grabs!
		</td>
	</tr>
	<tr>
		<td class="media-object">
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td class="object" width="60">
						<a href="http://articles.ratemyplacement.co.uk/2014/01/27/competition-time-fancy-a-30-nandos-voucher/"><img src="http://placehold.it/60x60"></a>
					</td>
					<td class="copy">
						<table class="prose">
							<tr>
								<td class="h5 first">
									<a href="http://articles.ratemyplacement.co.uk/2014/01/27/competition-time-fancy-a-30-nandos-voucher/">High Fliers Competition Time!</a>
								</td>
							</tr>
							<tr>
								<td class="p">
									Fancy a yummy Nando's voucher to brighten your day? Send in your photos/descriptions of what you have seen employers doing on campus this academic year and be in with a chance to win either a <strong>£10 or £30 Nando's voucher!</strong>
									<br><a href="http://articles.ratemyplacement.co.uk/2014/01/27/competition-time-fancy-a-30-nandos-voucher/">Read more &rarr;</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="media-object last">
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td class="object" width="60">
						<a href="https://www.facebook.com/BDOTrainees"><img src="http://placehold.it/60x60"></a>
					</td>
					<td class="copy">
						<table class="prose">
							<tr>
								<td class="h5 first">
									<a href="https://www.facebook.com/BDOTrainees">BDO Facebook Competition!</a>
								</td>
							</tr>
							<tr>
								<td class="p">
									Between  3rd - 14th of February, BDO have loads of prizes on offer on their Facebook page, including <strong>Nando's, Amazon vouchers and cash prizes!</strong> <a href="https://www.facebook.com/BDOTrainees">'Like' their Facebook page</a> to enter their spot competitions over the next couple of weeks!
									<br><a href="https://www.facebook.com/BDOTrainees">Read more &rarr;</a>									
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
{% endblock %}

