<tr>
	<td align="center" valign="top" class="outer-wrap">
		<table class="footer wrap"  border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td class="p">
					<br>
					You have received this email because you signed up via our mobile Data Capture App. This email has been sent to you on behalf of IBM, by RMP Connect, part of the RMP Enterprise Ltd Group.<br>
					<a href="http://{~customDomain~}/_act/optout.php?id={~mailId~}">Unsubscribe</a>
					<br>
					<br>
				</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td class="after-footer">
		RMP Enterprise • Registered in England & Wales • Company 6331665 • VAT No 935439500
	</td>
</tr>
