<table class=" wrap"  border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="header-wrap">
			<table class="header" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td class="logo">
						<a href="http://www-05.ibm.com/employment/uk/students/">
						<img src="http://media.ratemyplacement.co.uk.s3.amazonaws.com/email-templates/connect-ibm/ibm-logo.png" alt="IBM Logo">
						</a>
					</td>
					<td class="social" align="right">
						<table border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td>
									<a href="http://www.facebook.com/IBMUKCareers"><img src="http://media.ratemyplacement.co.uk.s3.amazonaws.com/email-templates/connect-ibm/facebook.png" alt="IBM Facebook"></a>
								</td>
								<td>
									<a href="http://www.twitter.com/IBMUKCareers"><img src="http://media.ratemyplacement.co.uk.s3.amazonaws.com/email-templates/connect-ibm/twitter.png" alt="IBM Twitter"></a>
								</td>
								<td>
									<a href="http://www.linkedin.com/company/ibm/careers?trk=tabs_biz_career"><img src="http://media.ratemyplacement.co.uk.s3.amazonaws.com/email-templates/connect-ibm/linkedin.png" alt="IBM LinkedIn"></a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
