<table class=" wrap"  border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="header-wrap">
			<table class="header" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td class="logo">
						<a href="#">
							<img src="http://media.ratemyplacement.co.uk.s3.amazonaws.com/email-templates/connect-ibm/ibm-header.png" alt="IBM Logo">
						</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
