@import '../variables.less';

@media only screen and (max-width: 540px) {
	*[class^="backgroundTable"] {
		.company-wrap {
			padding: 15px @imp;
		}
		// Company Block 
		.company {

			.left {
				display: block @imp;
				margin: 0 auto @imp;
				float: none @imp;

			}

			.right {
				display: block;					
				width: 100% @imp;

				.h3	{padding: 20px 0 0 0 @imp;}

				.h3,
				.p {
					text-align: center @imp;
				}
			}

		}
	}
}


/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 480px) {
	*[class^="backgroundTable"] {

	}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 320px) {
	*[class^="backgroundTable"] {

	}
}
