{% block prose %}
	<h1>RMP Connect Email Templates</h1>

	<h2>Style Guide</h2>
	<ul>
		<li>
			<a href="/core/style-guide">Style Guide</a>
		</li>
	</ul>

	<h2>Core Templates</h2>
	<ul>
		<li>
			<a href="/core/hero">Hero</a>
		</li>
		<li>
			<a href="/core/jobs">Jobs</a>
		</li>
		<li>
			<a href="/core/newsletter">Newsletter</a>
		</li>
		<li>
			<a href="/core/text">Text Only</a>
		</li>
		<li>
			<a href="/core/trio">Trio</a>
		</li>
	</ul>

	{% endblock %}

